body {
	background-color: #f0d5c1;
	color: #564c4d;
	padding: 5%;
}

h1 {
	font-size: 200%;
	padding: 2.5%;
	display: flex;
	justify-content: space-around;
}

ul {
	display: flex;
}

li {
	display: flex;
	justify-content: space-around;
	margin: 2.5%;
}

img {
	width: 100%;
	height: auto;
}

li img {
	height: 1rem;
	width: auto;
}

h1 img {
	height: 1.8rem;
	width: auto;
	border-radius: 50%;
}

article {
	font-size: 150%;
	font-weight: 400;
	padding: 2.5%;
}

a {
	color: #564c4d;
}

footer {
	margin: 2.5%;
}

h3 {
	font-size: 1.3rem;
	margin-bottom: 1%;
}

.projects {
	margin: 2%;
}

.projects a {
	color: #ba8a7f;
	border: solid;
	margin: 5% 0%;
	padding: 5%;
	display: block;
	text-align: center;
}

.project-name {
	font-size: 1.5rem;
}

#main-project {
	font-size: 2rem;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

a:active {
	text-decoration: underline;
}
