/*
CSS DIRECTORY
	1. =ROOT VARIABLES & UTILITY
	2. =BODY
	2. =HEADER
	4. =MAIN
	3. =ABOUT
	4. =PROJECTS
	5. =FOOTER
*/

/*  ===============
    ROOT VARIABLES & UTILITY
    =============== */

:root {
	--lavender-blush: #faedf0;
	--champagne-pink: #f0d5c1;
	--melon: #e6b8aa;
	--tan-blush: #ba8a7f;
	--rosy-brown: #564c4d;
}

.links {
	display: flex;
	justify-content: space-around;
	margin: 0.6rem;
}

a {
	color: var(--rosy-brown);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

a:active {
	text-decoration: underline;
}

a:hover {
	color: var(--tan-blush);
}

/*  ===============
    BODY 
    =============== */
body {
	background-color: var(--champagne-pink);
	color: var(--rosy-brown);
	margin-top: 6rem;
}

img {
	width: 100%;
	height: auto;
}

.anchor-nav::before {
	display: block;
	content: " ";
	margin-top: -140px;
	height: 140px;
	visibility: hidden;
	pointer-events: none;
}
/* 
@media screen (min-width 768px) {
	.anchor-nav::before {
		margin-top: -160px;
		height: 160px;
	}
} */
/*  ===============
    HEADER
    =============== */
header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--melon);
	z-index: 9999;
}

h1 {
	font-size: 2rem;
	padding: 1.2rem;
	display: flex;
	justify-content: center;
}

#portrait-image {
	height: 1.8rem;
	width: auto;
	border-radius: 50%;
	margin-right: 0.5rem;
}

@media (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}

	#portrait-image {
		height: 2.34rem;
		margin-right: 1rem;
	}

	nav ul {
		font-size: 1.5rem;
	}
}

/*  ===============
    MAIN
    =============== */
main {
	padding: 2rem;
}

/*  ===============
    ABOUT
    =============== */
article {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0.5rem;
}

article p {
	padding-top: 0.7rem;
}

/*  ===============
    PROJECTS
    =============== */
section h2 {
	padding-top: 0.7rem;
	font-size: 1.5rem;
}

.project-links {
	border: solid;
	margin: 0.5rem 0rem;
	padding: 0.5rem;
	display: block;
	text-align: center;
}

.project-name {
	font-size: 1.5rem;
}

#projects {
	justify-content: space-around;
}

#main-project {
	font-size: 2rem;
	font-weight: 600;
}

#projects img {
	opacity: 50%;
	height: 6rem;
	width: auto;
	padding-top: 0.7rem;
}

@media screen and (min-width: 768px) {
	section h2 {
		margin: 0.5rem;
	}

	.secondary-project-link-container {
		display: flex;
		justify-content: space-evenly;
	}

	.secondary-project-links {
		flex-basis: 48%;
	}

	.main-project-link {
		margin: 0.6rem;
	}
}

/*  ===============
    FOOTER
    =============== */
footer {
	padding: 1rem 1.5rem;
	background-color: var(--melon);
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

#copyright {
	font-size: 0.5rem;
}

footer h2 {
	font-size: 1.5rem;
	text-align: center;
}

#linktree {
	height: 1.5rem;
	width: auto;
}

.material-symbols-rounded {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
